
.circularimg{
    overflow: hidden;
}
.circularimg .image:hover{
    transform: scale(0.9);
    transition: all .5s;

}

.main {
    /* Define styles for the .main class */
}

@media (max-width: 991px){

    .circularimg {

        width: 150px;
        height: 150px;
    }

}


    