/* src/CompanyProfile.css */
.company-profile-container {
    display: flex;
    /* padding: 50px; */

}

.company-profile-content {
    flex: 2 1;
    /* margin-right: 50px; */
}

.company-profile-sidebar {
    flex: 1 1;
    max-width: 300px;
    height: auto;
    /* border: 1px solid; */
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.company-profile-title {
    color: #004080;
    margin-bottom: 10px;
}

.company-profile-text {
    margin-bottom: 10px;
    line-height: 1.6;
}

.company-profile-highlight {
    font-weight: bold;
    margin-top: 10px;
}

.sidebar-title {
    background-color: #262262;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.sidebar-list {
    list-style-type: none;
    padding: 0 10px;
}

.sidebar-item {
    padding: 5px 0;
}

/* management css  */

.management-section, .committee-section {
    width: 100%;
    line-height: 1.6;
    /* padding: 5px 30px; */
}
  
  .management-section h2,
  .committee-section h2 {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .committee-section h3 {
    color: #0056b3;
    margin-top: 20px;
  }
  
  .committee-list {
    list-style-type: none;
    padding: 0;
  }
  
  .committee-list li {
    padding: 5px 0;
  }
  