.custReview {
    height:'';
    width: 70%;
}
.custReviewContainer{
    margin: 0 auto;
}

.custReviewLeft {
    height: 100%;
    width: 100%;
}

.custReviewRight {
    height: 100%;
    width: 100%;
}
    