.ReadmoreButtonInvestors {
    background-color: #CC0008;
    padding: 2%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    /* width: 10%; */
}

.bgimginvestors .odd-image p {
    position: absolute;
    top: 37%;
    left: 21%;
    font-size: x-large;
    text-align: center;
    width: 50%;
    line-height: 1;
}

.bgimginvestors .odd-image button {
    position: absolute;
    top: 64%;
    left: 31%;
}

.even-image {
    text-align: center;
}

.bgimginvestors .even-image p {
    position: absolute;
    top: 20%;
    left: 21%;
    font-size: x-large;
    width: 50%;
    line-height: 1;

}

.bgimginvestors .even-image button {
    position: absolute;
    top: 50%;
    left: 32%;
}



.investor-swiper {
    overflow: hidden !important;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:900px) and (min-width:600px) {
    .bgimginvestors p {
        font-size: medium !important;
    }

    .bgimginvestors button {
        left: 30% !important;
        font-size: small !important;

    }
}

@media (max-width:555px) {
    .bgimginvestors p {

        font-size: medium !important;

    }
    .bgimginvestors button {
        left: 29% !important;
        font-size: small !important;

    }

}
@media (max-width:425px) {
    .bgimginvestors p {

        font-size: x-large !important;

    } 
    .bgimginvestors button {
        left: 30% !important;
        font-size: medium !important;

    }

}