.features-container {
    padding: 20px;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.icon img {
    width: 40px;
    height: 40px;
}

.FeatureText h5 {
    margin-bottom: 5px;
    font-size: 18px; 
}

.FeatureText h6 {
    margin-top: 0;
    font-size: 14px; 
}

@media (max-width: 576px) {
    .features-container {
        padding: 10px;
    }

    .icon img {
        width: 30px;
        height: 30px;
    }

    .FeatureText h5 {
        font-size: 16px; 
    }

    .FeatureText h6 {
        font-size: 12px;
    }

    .feature {
        margin-bottom: 10px; 
    }
}
