 .FeatureText {
     color: var(--primary-color);
 }

 .FeatureText h6 {
     font-size: small;
 }

 .icon {
     height: 8vh;
 }

 .feature img {
     width: 100%;
     height: 100%;
 }

 @media (max-width:544px) {
    
 }