.WCcontainer{
    height:max-content;
    width: 90vw;
    background-color:#F6F6F6;
    
}
.WCcontainer h4{
    color:#262262 ;
    font: normal normal bold;
    border-bottom: 1px solid #1E1F1E99;

}

.FeatureText{
    color:var(--primary-color);   
}
.FeatureText h6{
    font-size: small;
}
.icon{
    height: 8vh;
}
.feature img{
    width: 100%;
    height: 100%;
}