.WCcontainer {
    height: max-content;
    width: 90vw;
    background-color: #fff;
    padding: 20px;
    /* border-radius: 5px; */
    box-shadow: 0 0 12px 2px lightgray;
    border-radius: 5px;
}

.WCcontainer h4 {
    color: #262262;
    font: normal normal bold;
    /* border-bottom: 1px solid #1E1F1E99; */
}


@media (max-width: 600px) {
.margin-to-top {
    margin-top: 6rem !important;
}
}
@media (min-width: 768px) {
    .mt-desk {
    margin-top: 10rem !important;
   }
}

