.DTS {
    height: auto;
    width: 50%;
    margin: auto;
    /* background-color:lightcoral; */
}

.DTSCaption {
    /* height: 150px; */
    width: auto;
    text-align: justify;
    /* overflow-y: scroll; */
    margin: 0 20%;
}

.DetailCard {
    overflow: visible !important;
}

.DetailDTS {
    height: 80vh;
    background-color: #F6F6F6;
}

.BottomCardsCptn {
    text-align: left;
    margin: auto;
}

@media (max-width:764px) {
    .DTSCaption {
        margin: 30px;
    }
}