.HiringCard {
    width: 14vw;
    height: max-content;
    border: 2.5px solid black;
    border-radius: 20px;
}

.HiringCard img {
    height: 100px;
    width: 100px;
}

.HiringCard IMG {

    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 10px -15px #111;

}

.Apply {

    color: #EFAF00 !important;
    border-bottom: 2px solid #EFAF00;
    margin: 2vh 0;
    padding-bottom: 1vh;
}

.Interview {
    color: #333D7B !important;
    border-bottom: 2px solid #333D7B;
    margin: 2vh 0;
    padding-bottom: 1vh;
}

.Recruitment {
    color: #CC0008 !important;
    border-bottom: 2px solid #CC0008;
    margin: 2vh 0;
    padding-bottom: 1vh;

}

.IMG1 {

    background-color: #EFAF00 !important;
    border-radius: 10px;
    width: 100%;
    height: 20vh;
    box-shadow: 0px 15px 10px -15px #111;
}

.IMG2 {

    background-color: #333D7B;
    border-radius: 10px;
    width: 100%;
    height: 20vh;
    box-shadow: 0px 15px 10px -15px #111;
}

.IMG3 {

    background-color: #CC0008;
    border-radius: 10px;
    width: 100%;
    height: 20vh;
    box-shadow: 0px 15px 10px -15px #111;
}

.ReadMoreRespBtn {
    font-size: small;
}

@media (max-width:1352px) {
    .respHiringCardTitle {
        font-size: small !important;
        font-weight: 800;
    }

    .respHiringCardCpt {
        font-size: small !important;
    }
}

@media (max-width:1182px) {
    .respHiringCardCpt {
        font-size: x-small !important;
    }
}

@media (max-width:1068px) {
    .HiringCard {
        padding: 2px !important;
        width: 20vw;
    }


}

@media (max-width:600px) {

    .hiringCardResp {
        padding: 30px !important;
    }

    .HiringCard {
        height: auto !important;
        width: 150px ;

    }

    .respHiringCardCpt {
        display: none !important;
    }

}