
.BlogButton {
    background-color: #CC0008;
    color:white;
    position: absolute;
    right: 17%;
    top: 55%;
    width: 12%;
    height: 8%;
    font-size: 1.3vw;
    border: none;
    border-radius: 10px;
}