.cta{
    background-color: #262262;
    /* margin: 200px; */
    text-align: center;
    /* padding: 50px 100px; */
    color: #fff;
}

.row1, .row2{
    padding: 70px 106px 0px;
}
.row3{
    padding:70px 55px 70px;
    margin: auto;
}
.about_icons{
    display: flex;
    justify-content: center;
}
.about_icons img {
    width: 75px;
    height: 65px;
    padding-right: 14px;
}

.about_text p, h5{
    color: #FAECB5;
    text-align: left;
}

.about_text p{
    font-size: 12px;
}


.vmcontainer{
    text-align: center;
    margin: 47px;
    background-color: #2622621F;
    padding: 50px;
    border-radius: 10px;
}

.vmcontainer h2{
    margin: 10px;
    color: #CC0008;
    font-weight: 700;
}