.feature_img {
    position: relative;
    /* min-height: 100px; */
    height: 100%;
    width: 100%;
}

.feature_sec {
    margin-top: 45px !important;
    margin-bottom: 80px;
}

.feature_img img {
    width: 100%;
    object-fit: cover;
}

.discounts_div {
    background-color: #D5D6E9;
}

.discounts_div_imp {
    background-color: #FCF5DA;
}

.com-dic {
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    height: 75px;
}

.discounts_div .com-para {
    color: #2E3192;
    font-weight: 600;
}

.com-dic strong {
    color: #000;
}

.discounts_div_imp .imp-para {
    color: #CC0008;
    font-weight: 600;
}

.coupen_sec {
    background-color: #FFE000;
    width: 100%;
    /* margin: 30px 0; */
}

/* Responsive */

@media (max-width:1200px) {

    .com-dic a p {
        font-size: 15px !important;
    }

}

@media (max-width: 992px) {
    .com-dic a p {
        font-size: 12px !important;
    }
}

@media (max-width: 767px) {
    .com-dic a p {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 1502) {}

@media only screen and (min-width: 1367px) and (max-width: 1501px) {}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .com-dic {
        height: 85px;
    }
}



@media only screen and (min-width: 769px) and (max-width: 991px) {
    .features {
        margin: 10px auto;
    }

    .section_header p {
        padding: 0px;
    }

    .section_header h2 {
        padding: 0 0 12px 0;
    }
}

/* Mobile: */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .features {
        margin: 10px auto;
    }

    .section_header p {
        padding: 0px;
    }

    .section_header h2 {
        padding: 0 0 12px 0;
    }

    .com-dic {
        height: 85px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .features {
        margin: 10px auto;
    }

    .section_header p {
        padding: 0px;
    }

    .section_header h2 {
        padding: 0 0 12px 0;
    }

    .com-dic {
        height: 85px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
    .features {
        margin: 10px auto;
    }

    .section_header p {
        padding: 0px;
    }

    .section_header h2 {
        padding-bottom: 30px;
    }

    .com-dic {
        height: 85px;
    }
}

@media only screen and (max-width: 360px) {
    .features {
        margin: 10px auto;
    }

    .section_header p {
        padding: 0px;
    }

    .section_header h2 {
        padding: 0 10px;
    }

    .com-dic {
        height: 85px;
    }
}