.footer{
    background-color: var(--secondary-color);
    padding: 55px 0;
}

.footer .footer_heading h5{
    color: var(--header-primary-clr);
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer ul li{
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.bottom_footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 35px 0;
}

.footer_social {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 30px 0;
}

.comp_logo{
    position: relative;
    height: 60px;
    width: 160px;
}

.comp_logo img{
    object-fit: contain;
}