
/* newslatter sec start */

/* .news_Heading h2{
    color: #000;
    font-size: 25px;
} */
.newslatter_sec{
    margin: 30px 0 2px 0;
    background: #fbf9f9;
    padding: 50px 0;
    width: 100%;
}

.newslatter_sec p{
    margin-bottom: 25px;
}

.newslatter_sec input{
    height: 40px;
}


.newslatter_sec button{
    background-color: var(--header-primary-clr);
    color: #fff;
    padding: 8px 35px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    height: 40px;
}

.newslatter_sec button:hover{

    background: transparent;
    border: 1px solid var(--header-primary-clr) !important;
    color: #fff !important;

}

.newslatter_sec button:hover span{

    color: var(--header-primary-clr) !important;

}
.newslatter_sec button span{
    height: auto !important;
}
/* newslatter sec end */


.copyrightsdiv{
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

.copyrightsdiv p{
    font-size: 12px;
}

.back-to-top{
    position: fixed;
    right: 2%;
    top: 73% ;
    background-color: red !important;
    padding: 10px;
    border-radius: 100%;
}
.footer{
    /* background-color: var(--secondary-color); */
    padding: 55px 0;
    border-top: 1px solid lightgray;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.4);
}

.footer .footer_heading h5{
    color: #2E3192 ;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer ul li{
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.bottom_footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 35px 0 10px 0;
}

.footer_social {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 30px;
}

.comp_logo{
    position: relative;
    height: 60px;
    width: 160px;
}

.comp_logo::after{
    content: "";
  position: absolute;
  top: 2px;
    right: 11%;
    width: 2px;
    height: 85%; /* Adjust the height as needed */
  background-color: #fff; 
}
.comp_logo img{
    object-fit: contain;
}
.social_icons a i{
    color: #fff;
    transition: all 0.5s linear;
}

.social_icons a i:hover{
    color: yellow;
    /* background-color:gray; */
    border-radius: 3px;
}
.social_icons img{
    margin: 0 6px;
    /* width: 20% !important; */
}
.social_icons img:nth-child(1){
    margin-left: 0;
}
.footer_term a{
    color: #fff;
}
.footer_term a:hover{
    color: #fff;
}
.footer_term p span{
    padding: 0 4px;
}

.footer_term a p {
    font-size: 14px;
}

.paymentImg{
    margin-top: 15px;
}
.gatewayimg{
    position: relative;
    height: 50px;
    width: 100px;
}

.gatewayimg img{
    object-fit: cover;
}

.otherLogo{ 
    height: 60px;
    width: 164px;
    position: relative;
}

@media (max-width:768px) {
    .footercaption{
        width: 100% !important;
    }
}

@media (max-width:600px) {
    .footer_social {
        display: block;
        margin: auto;
    }
    .comp_logo {
        position: relative;
        height: 60px;
        width: 160px;
        text-align: center;
        margin: 10px auto;
    }
    .comp_logo::after {
        content: "";
        background-color: transparent;
        padding: 10px 0;
    }

    .footer_social .social_icons{
        justify-content: center;
        text-align: center;
    }

    .social_icons a i {
        font-size: 28px !important;
        padding-top: 10px;
        letter-spacing: 15px;
    }
    .footer_term{
        margin: 50px 0;
        border-top: 1px solid lightgrey;
    }
}