/* :root {
    --primary-color: #262262;
    --secondary-color: #FFE000;


  } */





p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.bottom_nav {
    align-items: center !important;
}

.profile:hover .Homeemail {
    display: block;
}

.prdctAccr a,
.prdctAccr p {
    color: #05276C !important;
}

.Homeemail {
    position: absolute;
    color: black;
    opacity: 0.8;
    left: -100%;
    top: -50%;
    display: none;
    transition: all 0.5s;
}




.HeadSearch::placeholder {
    color: #1E1F1E;
    opacity: 80%;
}

HeadSearch input:focus + .searchFor {
    display: none;
}

.HeadSearch input:focus {
    /* display: none !important; */
    /* opacity: 0 !important; */
    /* background-color: white; */
    z-index: 99;
}

.darkShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.HeadSearch {
    display: flex;
    justify-content: space-between;
    /* width: 25; */
    border: 1px solid gray;
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px; */
}

.HeadSearch input {
    font-size: 16px;
    outline: none;
    border: none;
}
.HeadSearch input:hover{
    z-index: 99 !important;
}

.HeadSearch .submit-button {
    border: none;
    border-left: none;
    font-size: 16px;
    cursor: pointer;
}



.HeadSearch span {
    max-width: fit-content;
    /* color: #dbd56e; */
    color: #000 !important;
    /* background: -webkit-linear-gradient(25deg, #eee, #333); */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #dbd56e;
    display: inline-block;
    animation: typing 4s steps(40, end) infinite, cursor 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #dbd56e;
        /* Cursor color */
    }
}

/* .text-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px 20px;
  }
  
  .HeadSearch input {
    font-size: 16px;
    outline: none;
    border: none;
  }
  
  .HeadSearch .button-container {
    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
  }
  
  .HeadSearch button {
    border: none;
    height: 40px;
    width: 140px;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .HeadSearch button:hover {
    border:1px solid #3c4043;
    color: #111;
  } */

/* .HeadSearch svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
    color: #70757a;
  }
  
   */

















/* .HeadSearch::before{
    position: absolute;
    content: '';
    padding-bottom: 0;
    border-radius: 10px !important;
    background-image: url('/Assets/images/search-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    background-color: transparent !important;
    border: 1px solid black !important;
    border: none;
    color: #1E1F1E;
    opacity: 90;
} */

.homeNav .brdr:hover .nav-link {
    color: #FE0000;
}

.homeNav .nav-link {
    color: #FE0000;
}

.homeNav .AddToCartNav-link:hover {
    color: black !important;
}

@media (max-width:1341px) {
    .HeadSearch {
        /* padding: 0 !important; */
        margin: 0 !important;
        font-size: 10px;
        padding-bottom: 5px;
    }

    .main_header {
        padding: 0 !important;
    }

    .navbar-nav .nav-item a {
        font-size: 14px !important;
    }
}

@media (max-width:768px) {
    .moblogo {
        width: 95px !important;
    }
}

@media (max-width:615px) {

    .carousel-inner {

        margin-top: 6px;
    }

    .main_header {
        position: fixed;
        transition: height 0.3s ease-in-out;
        z-index: 10;
        height: 70px !important;
    }

    .HeadSearch {
        padding: 7px 2px !important;
        transition: 0.3s ease-in-out;
        text-align: center !important;
        background-position: left;
        /* background-image: none; */
    }

    .HeadSearch:focus {
        border: 1px solid red !important;
        padding: 7px 0px !important;
        border-radius: 30px !important;
        transition: 0.3s ease-in-out;
        text-align: center !important;
        background-position: left;
    }


    .navbar-expand-lg .navbar-nav .nav-link {
        width: fit-content;
    }

    .HeadSearch {
        font-size: 14px !important;
    }

    .HeadSearch:focus {
        background-color: transparent !important;
        border: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid black !important;
        /* outline: none;  */
        box-shadow: none;
    }

    /* .navbar-brand img {
        height: 40px !important;
        width: 80px !important;
        object-fit: contain;
    } */
    .navbar-brand {
        margin: 0 !important;
        padding: 0 !important;
    }

    #navei {
        padding: 5px !important;
    }

    .navbar-toggler-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .top_nav .col p {
        font-size: 10px !important;
    }

    .top_nav {
        display: none !important;
    }
}

@media (max-width:390px) {
    .HeadSearch {
        padding: 0 !important;
        margin: 0 !important;
        background-image: none;
    }

    .top_nav {
        display: none;
    }

    .main_header {
        position: fixed;
        transition: height 0.3s ease-in-out;
        z-index: 3;
        height: 70px !important;
    }

    .HeadSearch:focus {
        border: 1px solid red !important;
        padding: 7px 0 !important;
        border-radius: 30px !important;
        transition: 0.3s ease-in-out;
    }

}

@media (max-width:992px) {


    .brdr {
        /* display: block !important; */
        /* border-top: 1px solid #ddc406; */
        /* border-top: 1px solid black !important; */
        /* background-color: #FFE000; */
    }

    .menuhide {
        display: none !important;
    }

    .menubg {
        background-color: #FFFFFF !important;
        position: absolute !important;
        top: 100% !important;
        left: 100%;
        width: 100% !important;
        height: 100vh;
        overflow-y: scroll;
    }

    .bulk_ord {
        padding-left: 0% !important;
    }

    .bulk_ord::after {
        display: none;
    }

    .bulk_ord::before {
        display: none;
    }

    .accr {
        display: block !important;
    }

    .prdctAccr {
        padding: 0px 0px !important;
    }

    .cartCount {
        left: 14px;
    }
}

.accr {
    display: none;
}

.menubg {
    position: absolute !important;
    top: 0%;
    left: 0;
    width: 0%;
    height: 100vh;
}

.header {
    margin: 0;
    padding: 0 16px 0 0;
    position: fixed;
    z-index: 9999;
}

.main_header {
    background-color: #FFFFFF !important;
    width: 100%;
    height: 90px;
}

#navbarSupportedContent ul li a {
    color: navy !important;

}

.top_nav,
.bottom_nav {
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.top_nav p {
    color: #fff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    z-index: 999;
    /* background-color: #fff;  */
}

.homeNav {
    position: relative;
    z-index: 99;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px !important;
    font-weight: 600;
    margin: 0 10px;
    color: #000;

}

.navbar-expand-lg .navbar-nav .nav-link i {
    font-size: 20px;
}

.cartCount {
    position: absolute;
    background-color: #FE0000;
    border-radius: 50%;
    /* width: 17px; */
    /* height: 17px; */
    padding: 0px 6px;
    top: -5px;
    right: -5px;
    
    color: #fff;
}

.navbar-brand img {
    /* height: 50px; */
    /* width: 123px; */
    /* object-fit: contain; */
    /* margin-top: 10px ;
      margin-bottom: 10px ; */
}

.bulk_ord {
    position: relative;
    /* border-left: 2px solid;
      border-right: 2px solid; */
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.bulk_ord::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 6%;
    width: 2px;
    height: 80%;
    background-color: #1E1F23;
}

.bulk_ord::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 2%;
    width: 2px;
    height: 80%;
    background-color: #1E1F23;
}

.bottom_nav p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
}

.mainrow .first:hover .ulCont {
    height: auto;
}

.ulCont {
    height: auto !important;
}

.multidropdown {
    z-index: 99;
}