/* :root {
    --primary-color: #262262;
    --secondary-color: #FFE000;

  } */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.HeadSearch:focus {
    background-color: transparent !important;
    border: 1px solid gray !important;
    border-radius: 20px;
    transition: all 0.5s;
    text-align: left !important;

}

.HeadSearch {
    padding: 10px 30px 10px 40px;
    background-image: url('/Assets/images/search-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    background-color: transparent !important;
    border-bottom: 1px solid black !important;
    border: none;
    border-radius: 0;
    color: #1E1F1E;
    opacity: 80;
}

@media (max-width:1341px) {
    .HeadSearch {
        /* padding: 0 !important; */
        margin: 0 !important;
        font-size: 10px;
    }

    .main_header {
        padding: 0 !important;
    }

    .navbar-nav .nav-item a {
        font-size: 12px !important;
    }
}

@media (max-width:615px) {
    .HeadSearch {
        font-size: 10px !important;
    }

    .navbar-brand img {
        height: 50px !important;
        width: 100px !important;
        object-fit: contain;
    }

    .navbar-brand {
        margin: 0 !important;
        padding: 0 !important;

    }

    #navei {
       padding: 5px !important;
      
    }
    .navbar-toggler-icon{
        width: 20px !important;
        height: 20px !important;
    }
    .top_nav .col p{
        font-size: 10px !important;
       
    }
}

@media (max-width:390px) {
    .HeadSearch {
        padding: 0 !important;
        margin: 0 !important;
        background-image: none;
    }

}

@media (max-width:992px) {
    .brdr {
        display: block !important;
        border-top: 1px solid #ddc406;
        /* border-top: 1px solid black !important; */
    }

    .menuhide {
        display: none !important;
    }

    .menubg {
        background-color: #FFE000 !important;
        position: absolute !important;
        top: 100% !important;
        left: 100%;
        width: 100% !important;
    }

    .bulk_ord::after {
        display: none;
    }

    .bulk_ord::before {
        display: none;
    }

    .accr {
        display: block !important;
    }
}

.accr {
    display: none;
}



.menubg {

    position: absolute !important;
    top: 0%;
    left: 0;
    width: 0%;
}


.header {
    margin: 0;
    padding: 0;
}

.main_header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 90px;
}

.top_nav,
.bottom_nav {
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin: 0;
}

.top_nav p {
    color: #fff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    z-index: 999;
    /* background-color: #fff;  */
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    margin: 0 12px;
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link i {
    font-size: 20px;
}

.navbar-brand img {
    height: 84px;
    width: 123px;
    object-fit: contain;
}

.bulk_ord {
    position: relative;
    /* border-left: 2px solid;
    border-right: 2px solid; */
}

.bulk_ord::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 0%;
    width: 2px;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bulk_ord::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 2%;
    width: 2px;
    height: 80%;
    /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5);
}

.bottom_nav p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
}

.mainrow .first:hover .ulCont {
    height: auto;
}

.ulCont {
    height: auto !important;
}