.TopPickHover:hover {
  transform: scale(1.03) translate(2px, 0);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.5s;
}

.manfact:hover {
  /* transform: scaleX(1.05) translateX(2%); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.5s ease-in-out;
}

.manuf_head {
  color: var(--header-primary-clr);
}

.yellowGlow:hover {
  /* border-top: 2px solid black; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0px -5px 15px #ffe20e;
  /* transition: 0.5s ease-in-out; */
}

.highlightcard:hover {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 30%;
  transition: all 0.5s;
  border: none;
}

.highlightcard:hover .imagetop {
  border-top-left-radius: 20%;
  transition: all 0.5s;
}

.highlightcard:hover .cardbtm {
  border-bottom-right-radius: 30%;
  transition: all 0.5s;
}

.prodname {
  margin-top: 10px;
  align-items: center;
  display: flex;
}

.prodname h4 {
  color: #2e3192;
  font-weight: 700;
}

.prodname i {
  color: gray;
  font-size: 18px;
}

.card_img {
  position: relative;
  /* height: 227px;
    object-fit: fill; */
}

.shop-room a h4 {
  color: var(--header-primary-clr);
}

/* house ware home setion  */

.houseware_sec {
  /* height: 430px; */
  height: 100%;
}

.houseConntentDiv {
  background-color: var(--primary-color);
  color: #fff;
  padding: 75px 40px;
}

.houseConntentDiv h2 span {
  color: var(--secondary-color);
}

.houseConntentDiv h2 {
  font-size: 35px;
}

.houseConntentDiv p {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 200;
}

.houseDiv {
  padding: 0;
  margin: 0;
}

.houseImg {
  position: relative;
  height: 430px;
  width: 100%;
}

.houseImg img {
  object-fit: cover;
  /* height: 100%; */
  width: 100%;
}

.house-know-more {
  position: relative;
}

.house-know-more::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 1px;
  background-color: #fff;
  bottom: 14%;
  left: -7%;
  opacity: 0.5;
  /* transform: translateX(-50%);
    transition: width 0.3s ease; */
}

.knowmoresec {
  display: grid;
  padding: 40px 0;
}

.knowmoresec a {
  padding: 20px 0;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}

/* house ware home setion end */

/* heighlight sec start  */

.highlight_col .card {
  height: auto;
  position: relative;
}

.highlight_col .card {
  cursor: pointer;
}

.highlight_col .card .card-body {
  background-color: #fcf5da;
}

.highlight_col .card:hover .card-body {
  background-color: var(--header-primary-clr);
  color: #fff;
}

.highlight_col .card:hover .highArrow {
  background-color: #fff;
  border: none;
}

.highlight_col .card:hover .highArrow i {
  color: var(--header-primary-clr);
}

.highlight_col .card .card-title {
  font-size: 19px;
  font-weight: 700;
}

.highlight_col .card .card-text {
  font-size: 16px;
}

.highlight_col .card a {
  position: absolute;
  bottom: 6%;
}

/* heighlight sec end  */

/* happy client start  */

.happy_Story_sec .products_col .card {
  /* height: 433px; */
  border-radius: 10px;
}

.happy_Story_sec .products_col .card .card-img {
  /* height: 260px; */
  width: 100%;
  position: relative;
}

.happy_Story_sec .products_col .card img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.happy_Story_sec .products_col .card .card-body {
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.happy_Story_sec .products_col .card .card-body h5 {
  font-size: 18px;
}

.happy_Story_sec .products_col .card .card-body p {
  font-size: 13px;
}

.dealer_cont {
  text-align: center;
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

/* dealer sec  */

.dealer_Sec .dealer_cont .dealer_imgs {
  height: 100px;
  width: 100%;
  position: relative;
  margin: auto;
}

.dealer_Sec .dealer_cont .dealer_imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}

/* catalogue start */

.catalogue_sec {
  background-color: #faecb5;
}

.catalogue_sec .cataImg {
  position: relative;
  height: 330px;
  /* height: 100%; */
  width: 100%;
}

.catalogue_sec .cataImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catalogue_sec .catalogueConntentDiv {
  margin: 10px auto;
}

.catalogue_sec .catalogueConntentDiv h2 {
  color: var(--primary-color);
}

.catalogue_sec .catalogueConntentDiv .view_btn {
  background-color: var(--header-primary-clr);
  color: #fff;
  padding: 8px 35px;
  border-radius: 25px;
  font-size: 15px;
  border: none;
}

.catalogue_sec .catalogueConntentDiv .Catasec {
  margin: 15px 0;
}

.catalogue_sec .catalogueConntentDiv .view_btn:hover {
  color: var(--header-primary-clr);
  border: 1px solid currentColor;
  background-color: #fff;
  margin: 0;
}

.show_swipper {
  display: none !important;
}

.manfTitle h4 {
  color: #cc0008 !important;
}

@media (max-width: 400px) {
  .respswpr h5 {
    font-size: 15px !important;
  }

  .respswpr p {
    font-size: 10px !important;
  }
}

@media (max-width: 475px) {
  .swpr {
    padding: 0 !important;
  }
}

@media (max-width: 576px) {
  .hideswiper {
    display: none !important;
  }

  .show_swipper {
    display: block !important;
  }
}

/* @media (max-width: 769px) {
  .highlightCont {
    margin-top: 150px;
  }
} */

@media (max-width: 990px) and (min-width: 640px) {
  .respCatTitle {
    font-size: medium !important;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1501px) {}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .highlight_col .card {
    height: 430px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .highlight_col .card {
    height: 430px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .highlight_col .card {
    height: 385px;
  }
}

/* Mobile: */

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .catalogue_sec {
    margin-top: 56px;
  }

  .houseImg {
    display: none;
  }

  .highlight_col .card {
    height: 445px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {

  .highlightCont {
    margin-top: 5px;
  }

  .houseImg {
    display: none;
    margin-top: 56px;
  }

  .highlight_col .card {
    height: 585px;
  }

  .catalogue_sec {
    margin-top: 56px;
  }

  .sbr_card {
    padding: 0 20px;
  }

  .prodHcard {
    width: 100%;
    padding: 30px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {



  .highlight_col .card {
    height: 555px;
    margin: 17px 0;
  }

  .highlightCont {
    margin-top: 5px;
  }

  .products_col {
    padding: 0px 30px;
  }


  .houseImg {
    display: none;
  }

  .highlight_col .card {
    height: 555px;
  }

  .catalogue_sec {
    margin-top: 56px;
  }

  .prodname {
    display: flex !important;

    gap: 10px;
    padding: 10px 0;
  }

  .sbr_card {
    padding: 0px 10px;
  }

  .card-body {
    background-color: #fcf5da;
  }

  .dealer_Sec .dealer_cont .dealer_imgs {
    width: auto;
    height: 75px;
  }

  .products_col {
    margin: 0 0;
  }

  .prodHcard {
    width: 100%;
    /* margin: 0 15px; */
  }

  .shop-room {
    display: flex;
  }
  .houseConntentDiv h2 {
    font-size: 25px;
}
.houseConntentDiv p {
  font-size: 17px;
}
.knowmoresec {
  padding: 25px 0;
}
.catalogue_sec .catalogueConntentDiv{
  margin: 0 !important;
}
.catalogue_sec .catalogueConntentDiv .view_btn{
  font-size: 15px !important;
}
}

@media only screen and (max-width: 360px) {

  .mobHeader{
    font-size: 15px;
  }

  .highlightCont {
    margin-top: auto;
  }

  .footer ul li {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
    /* margin: 0 20px; */
  }


  .houseImg {
    display: none;
  }

  .catalogue_sec {
    margin-top: 56px;
  }

  .houseConntentDiv {
    padding: 30px 16px;
  }

  .highlightCont {
    margin-top: 5px;
  }
  .houseConntentDiv h2 {
    font-size: 25px;
}
.houseConntentDiv p {
  font-size: 17px;
}
.knowmoresec {
  padding: 25px 0;
}
.catalogue_sec .catalogueConntentDiv{
  margin: 0 !important;
}
.catalogue_sec .catalogueConntentDiv .view_btn{
  font-size: 15px !important;
}
}
.dot{
  overflow: hidden;
  height: auto;
}
.dot p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical ;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.dot p:hover{
  overflow: visible;
  -webkit-line-clamp: 15;
}
.dot h5{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical ;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.dot h5:hover{
  overflow: visible;
  -webkit-line-clamp: 3;
}