
.InvestorBanner{
    position: relative;
}

.vmcontainer{
   
    width: 300px;
    height: 320px;
    justify-content: center !important;
}

.swaperinvestor .swiper-wrapper{

}

.InvestorBanner h2{
    font-size: 5vw !important;
}

.InvestorBannerText{
    position: absolute;
    top: 15%;
    left: 5%;
    /* text-align: center; */
}

.InvestorBannerText p{
    font-size:2vw ;
}

.InvestorBannerText button{
    cursor: pointer;
    background-color: #262262;
    color: #fff;
    font-size: 1vw;
    /* padding: 8px 12px; */
    border-radius: 10px;
    /* margin: 20px; */
}
.NationalFitnessUpp-contaner{
    background-color: #2E3192;
    color: #fff;
}
.NationalFitnessUpp-text h2{
   color: #FFE000; 
  
}

.NationalFitnessUpp-text{
    
    text-align: center;
}

.NationalFitness-container h2{
    font-size: 40px;
    color: var(--header-secondary-clr);
    padding: 0 0 15px 0;
}
.NationalFitness-container h2 span {
    font-weight: 700;
    color: var(--header-primary-clr);
}
.NationalFitness-container{
    width: 100%;
    text-align: center;
    margin: 60px auto;
}

.NationalFitness-container p{
    /* padding: 0px 267px; */
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
}

.colred{
    margin-right: -44px;
    z-index: 7;
    margin-top: 96px;
}
.FinancialResults-2{
    /* background-color: #CC0008;
    width: 302px;
    height: 175px;
    margin-top: 145px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     */
    /* position: absolute;
    left: 11%; */
}

.FinancialResults-2 h4{
    color: #fff;
}
.FinancialResults-10{
    background-color: #F4F4F4;
    text-align: center;
}

.FinancialResults-10 h2{
    color: #2E3192;
    font-weight: 700;
    /* margin: 35px auto 0px; */
}

.FinancialResults-10 h4{
    color: #CC0008;
    font-weight: 600;
    margin: 7px;
    }

    .download-btn{
        display: inline-flex;
    }
   .Download-p{
    display: flex;
    align-items: center;
    margin: 5px;
   }
   .Download-p p{ 
    color:#2E3192;    
    font-weight: 500;
   }
   .Download-img{
    width: 15px;
    align-items: center;
    display: flex;
   }

   .results-data{
padding: 20px;
   }
   .results-data h5{
    font-weight: 600;
   }

   .FinancialResults{
    margin-top: 100px;
   }
   .share-pricei-title {
    font-weight: 600;
}

.InvestorBannerText h2{
    color: #C9070F;
    font-weight: 700;
    /* font-size: 38px;  */
}
/* RESPONSIVE */
@media (max-width:769px) {
    .colred{
        margin-right: 0px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        /* z-index: 7; */
        /* margin-top: 96px; */
    }
    /* .FinancialResults-10{
        margin-top: -100px;
    } */
}


@media only screen and (min-width: 1502) {}
@media only screen and (min-width: 1367px) and (max-width: 1501px) {} 
@media only screen and (min-width: 1201px) and (max-width: 1366px) {}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}
@media only screen and (min-width: 992px) and (max-width: 1024px) {}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .FinancialResults-2 { 
        margin-top: -28px;
    }
    .FinancialResults {
        margin-top: 149px;
    } 
.FinancialResults-2 {
    margin-top: -105px;
}
.FinancialResults-2-ufr {
    margin-top: -36px;
}
}


/* Mobile: */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .InvestorBannerText { 
        /* top: 18%;
        left: 10px;  */
    }
    .InvestorBannerText h2 { 
        /* font-size: 25px; */
    }
    .InvestorBannerText p {
        /* font-size: 12px; */
    }
    .InvestorBannerText button { 
        /* font-size: 10px;
        padding: 6px 11px;
        border-radius: 10px;
        margin: 15px; */
    }
    /* .FinancialResults-10 { 
        margin-top: 150px;
    } */

    .FinancialResults-2 {
        width: 300px;
        margin-top: 9px; 
    }
    
    /* .SharePrices-row {
        padding:  5px !important;
    } */
    .NationalFitness-container {
        margin: 11px auto;
    }
    
}

@media (max-width:516px) {
    .vmcontainer{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
        width: 250px;
        justify-content: center !important;
    }
}

@media (max-width:600px) {
   
    .btnInverstor{
        padding: 5px !important;
        font-size: 15px;
    }
    .SharePrices-row {
        padding:  0px !important;
    }
    
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .InvestorBannerText { 
        /* top: 18%;
        left: 10px;  */
    }
    .InvestorBannerText h2 { 
        /* font-size: 25px; */
    }
    .InvestorBannerText p {
        /* font-size: 12px; */
    }
    .InvestorBannerText button { 
        /* font-size: 10px; */
        /* padding: 6px 11px; */
        border-radius: 10px;
        /* margin: 15px; */
    }
    /* .FinancialResults-10 { 
        margin-top: 150px;
    } */

    .FinancialResults-2 {
        margin-top: 9px; 
    }
    
    /* .SharePrices-row {
        padding:  5px !important;
    } */
    .NationalFitness-container {
        margin: 11px auto;
    }
    
}
@media only screen and (min-width: 361px) and (max-width: 480px) 
{
    /* .InvestorBannerText { 
        top: 18%;
        left: 10px; 
    }
    .InvestorBannerText h2 { 
        font-size: 25px;
    }
    .InvestorBannerText p {
        font-size: 12px;
    }
    .InvestorBannerText button { 
        font-size: 10px;
        padding: 6px 11px;
        border-radius: 10px;
        margin: 15px;
    } */
    /* .FinancialResults-10 { 
        margin-top: 150px;
    } */

    .FinancialResults-2 {
        margin-top: 9px;  
    }
    
   
    .NationalFitness-container {
        margin: 11px auto;
    }
    
}
@media only screen and (max-width: 360px) {
    /* .InvestorBannerText { 
        top: 1%;
        left: 10px; 
    }
    .InvestorBannerText h2 { 
        font-size: 25px;
    }
    .InvestorBannerText p {
        font-size: 12px;
    }
    .InvestorBannerText button { 
        font-size: 10px;
        padding: 6px 11px;
        border-radius: 10px;
        margin: 15px;
    } */
    /* .FinancialResults-10 { 
        margin-top: 150px;
    } */

    .FinancialResults-2 {
        margin-top: 9px; 
    }
    
    /* .SharePrices-row {
        padding:  5px !important;
    } */
    .NationalFitness-container {
        margin: 11px auto;
    }
    
}
  
    