.pd-wrap {
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}

.heading-section {
  text-align: center;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading-section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  min-width: 80px;
  background-size: 100%;
}

.carousel-testimonial .item {
  padding: 30px 10px;
}

.quote {
  position: absolute;
  top: -23px;
  color: #2e9da1;
  font-size: 27px;
}

.name {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}

.position {
  color: #adadad;
  font-size: 14px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
  height: 25px;
}

.owl-nav button svg {
  width: 25px;
  height: 25px;
}

.owl-nav button.owl-prev {
  left: 25px;
}

.owl-nav button.owl-next {
  right: 25px;
}

.owl-nav button span {
  font-size: 45px;
}

.product-thumb .item img {
  height: 100px;
}

.product-name h2 {
  /* font-size: 22px; */
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 4px;
  color: #2e3192;
}

.product-ccount {
    padding: 15px 0;
}

.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}

.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
  border: none !important;
  outline: none !important;
}

.productDetailsRadio {
  height: 30px;
  width: 30px;
  accent-color: var(--radio-color);
  border: none !important;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.product-info {
  width: 100%;
}

.reviews-counter {
  margin: 20px 0 5px 0;
  display: flex;
}

.reviews-counter .mrp {
  display: flex;
}

.reviews-counter .mrp h6,
.reviews-counter del {
  margin: 0 6px 0 0;
}

.reviews-counter del {
  font-size: 12px;
}

.prod_type {
  display: flex;
}

.prod_clr {
  margin: 0 30px 0 0;
}

.prod_size p,
.prod_clr p {
  padding-bottom: 10px;
}

.prod_size {
  max-width: 20%;
  width: 100%;
}

.prod_size input {
  width: 100%;
}

.discount {
  background-color: var(--header-primary-clr);
  font-size: 12px;
  padding: 2px;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
}

.discount p {
  color: #fff;
  font-size: 12px;
  padding: 1px 3px;
}

.reviews-counter span {
  vertical-align: -2px;
}

.rate {
  float: left;
  padding: 0 10px 0 0;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}

.rate:not(:checked) > label:before {
  content: "\2605";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.product-dtl .form-control {
  font-size: 15px;
}

.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.product-count {
  margin-top: 15px;
}

.product-count .qtyminus,
.product-count .qtyplus {
  width: 34px;
  height: 34px;
  /* background: #212529; */
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: black;
  cursor: pointer;
}

.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}

.product-count .qty {
  width: 50px;
  text-align: center;
}

.eye {
  font-size: small;
  color: #1e1f1e66;
}
.disabled-button {
  opacity: 0.5; /* Reduce opacity to indicate disabled state */
  cursor: not-allowed; /* Change cursor to indicate non-interaction */
  pointer-events: none; /* Prevent click events from being registered */
}
.terms {
  color: #1e1f1ebf;
  padding-top: 10px;
  font-size: 15px;
}

.terms a {
  text-decoration: underline !important;
}

.ProdbtnRes {
  background-color: #cc0008;
  color: #fff;
}

.ProdbtnRes:hover {
  color: #cc0008 !important;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 1px currentColor;
}

.ChckBtnRes {
  background-color: #cc0008;
  color: #fff;
}

input:focus-visible {
  /* border: none; */
  /* outline-offset: 0; */
  outline: none;
}

.round-black-btn {
  border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529;
  transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.review-form .form-group {
  clear: both;
}

.mb-20 {
  margin-bottom: 20px;
}

.review-form .rate {
  float: none;
  display: inline-block;
}

.review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
}

.review-form .form-control {
  font-size: 14px;
}

.review-form input.form-control {
  height: 40px;
}

.review-form textarea.form-control {
  resize: none;
}

.review-form .round-black-btn {
  text-transform: uppercase;
  cursor: pointer;
}

.listTabContent {
  display: block;
}

@media (max-width: 1089px) {
  .ChkAvblityRes {
    font-size: 10px !important;
  }
  .ChkAvblityRes .ChckBtnRes a {
    font-size: 10px !important;
  }
  .ChkAvblityRes p {
    font-size: medium !important;
  }
}

@media (max-width: 600px) {
  .listTabContent {
    display: none;
  }
  .respFAQ {
    font-size: small !important;
  }
  .RespFAQans {
    font-size: small !important;
  }
  .mySwiper2 img{
    object-fit: cover !important;
  }
  .product-ccount .input-group{
    width: 40%;
  }
  .product-ccount .input-group.input-group-text{
    font-size: 21px;
  }
  .prod_desc_sec{
    padding: 30px 0;
  }
}

@media (max-width: 425px) {
  .ProdbtnRes {
    padding: 7px 20px !important;
    font-size: 15px;
  }
  .product-dtl label{
    font-size: 16px;
  }
  .bulkRes {
    /* margin: 5% 0 0 25% !important; */
    padding: 5px 20px !important;
  }
  .discRes p {
    font-size: 12px !important;
    line-height: 1.2;
  }
  .discRes {
    padding: 5px 10px;
    margin-left: 0 !important;
    text-align: center;
    height: fit-content !important;
  }
  .prod_clr p {
    font-size: 14px !important;
  }
  .prod_size {
    font-size: 15px;
    max-width: 41%; 
  }
  .prod_size input {
    text-align: center;
    width: 66% !important;
  }

  .PreFoot .left{
    font-size: 16px;
  }
}

@media (max-width: 405px) {
  .ChckBtnRes a {
    padding: 5px 12px !important;
  }
  .reschkAvbl input {
    height: 10% !important;
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .ChckBtnRes a {
    margin-top: 5px !important;
  }
  /* .swiper-slide{
    border: 1px solid lightgray;
  } */
}
