.profile-page-container {
  margin: 50px auto;
}

.Left-Profile div .fa-user-circle {
  display: inline-block;
  border-radius: 50%;
  /* margin: 20px; */
  color: #b4b4b4;
  background-color: #696969;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 65px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Left-Profile-inner {
  display: flex;
  /* padding: 20px; */
  background-color: #f7f7f7;
}

.Right-Profile,
.Left-Profile {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
}

.profile-detail {
  margin: auto 20px;
}

.EditAccount {
  display: flex;
  margin: 20px;
}

.EditAccount:hover {
  /* Example styles to apply when the EditAccount element is focused */
  outline: 2px solid blue; /* Example: Adds a blue outline */
  /* Add your additional styles here */
}

.fa-pencil-square-o:before {
  content: "\f044";
  margin: 10px;
}

.Left-Profile-inner2 {
  margin-top: 30px;
  background-color: #f7f7f7;
}

.Right-Profile h3 {
  color: #262262;
  font-weight: 700;
}

.user-data {
  padding: 20px 0px;
}

.form-btn {
  background-color: #cc0008;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 6px 20px;
}

.user-data div label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.tab-pane .main_container .features {
  display: none !important;
}

.list-group-item.active {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.price .btn-danger {
  font-size: 11px !important;
  font-weight: 600 !important;
}

.wishlist-container {
  background-color: yellow !important;
}

/* Login Page CSS*/

.form-btn-login {
  background-color: #cc0008;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  /* padding: 6px 20px; */
  width: 100%;
  border-radius: 5px;
  margin: 6px auto;
  padding: 10px;
  font-size: 20px;
}

.form-btn-login:hover {
  background-color: gray;
  color: #000;
}

.Login-Page-ImgForm {
  margin: 50px 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Login-Form {
  margin: 20px auto;
}

.login-image {
  padding: 0px;
}

.form-btn-login-div {
  margin: 15px;
}

.Login-using-otp {
  display: none;
  border: none;
  background-color: white;
  color: #cc0008;
  /* font-size: 14px; */
  text-align: right;
  font-weight: 600;
}

.RegisterHere-p p {
  font-size: 14px;
}

.RegisterHere-p {
  text-align: center;
}

.RegisterHere {
  color: #cc0008;
  font-weight: 800;
}

.ContinueWithgoogle {
  display: flex;
  text-align: center;
  margin-top: 74px;
}

.ContinueWithgoogle .fa-google:before {
  content: "\f1a0";
  padding: 2px;
  border: 2px solid red;
  margin: 10px;
}

.ContinueWithgoogle .fa-facebook:before {
  content: "\f09a";
  padding: 2px;
  border: 2px solid #0043ff;
  margin: 0px;
}

/* Responsive */

@media only screen and (min-width: 1502) {
}

@media only screen and (min-width: 1367px) and (max-width: 1501px) {
}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .Login-Page-ImgForm {
    margin: 50px 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .Login-Page-ImgForm {
    margin: 50px 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .Login-Page-ImgForm {
    margin: 50px 20px;
  }
}

/* Mobile: */

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .Login-Page-ImgForm {
    margin: 25px 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .Login-Page-ImgForm {
    margin: 5px 5px;
    border: none;
  }
  .login-image {
    padding: 17px 82px;
    height: auto;
  }
  .login-image img {
    border-radius: 50%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .Login-Page-ImgForm {
    margin: 5px 5px;
    border: none;
  }
  .login-image {
    padding: 17px 82px;
    height: auto;
  }
  .login-image img {
    border-radius: 50%;
  }
}

@media only screen and (max-width: 360px) {
  .Login-Page-ImgForm {
    margin: 50px 5px;
    border: none;
  }
  .login-image {
    padding: 17px 82px;
    height: auto;
  }
  .login-image img {
    border-radius: 50%;
  }
}
