.main_container {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Addleft {
  background-color: #fff;
    box-shadow: 0 0 12px 2px lightgrey;
    border-radius: 5px;
}

.bordrBtm {
  border-bottom: 1px solid #1e1f1e3d;
}

.confirm {
  color: var(--primary-color);
  font-size: x-large;
}

.form-check-input:checked {
  border-color: #dc3545;
  background-color: #dc3545;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.buying .form-check-input:checked {
  border-color: rgb(91, 210, 91) !important;
  background-color: rgb(91, 210, 91) !important;
}

.summary {
  min-height: 35vh !important;
  margin-bottom: 10vh !important;
}

.BGcolor {
  background-color: #fff;
  box-shadow: 0 0 12px 2px lightgrey;
  border-radius: 5px;
  min-height: 35vh;
  width: 100%;
}

.AddRight {
  text-align: start;
}

.onHOverFocus{
  cursor: pointer;
}

@media (max-width: 600px) {
  .checkOutCptResp {
    font-size: x-small !important;
  }

  .liftOptionsResp {
    font-size: small !important;
  }
  .SaveBtnResp {
    padding: 5px 25px !important;
  }
  .viewMoreResp {
    font-size: small;
  }
  .Addleft{
    padding: 5px !important;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sizing {
  padding: 4px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: medium;
  margin-left: 5px;
}

.mb {
  margin-bottom: 8px;
}

/* .onHOverFocus:hover{
      focus
  } */
