/* components/Navbar.module.css */

.navbar {
  background-color: #F5F9FD;
  /* padding: 10px; */
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  position: relative;
  /* margin-right: 20px; */
}

.navItem a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.dropdown, .subDropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F5F9FD;
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  border: 1px solid lightgray;
}

.dropdownItem {
  position: relative;
  text-wrap: nowrap;
  border-bottom: 1px solid lightgray;
  padding: auto 5px;
}

.dropdownItem a {
  padding: 10px;
  color: #000;
}

.subDropdown {
  left: 100%;
  top: 0;
}

.dropdownItem:hover{
  background-color: rgba(0,0,0,0.2);
}


.dropdownItem:hover .subDropdown,
.navItem:hover .dropdown {
  display: block;
  z-index: 99;
}
.subDropdown li{
  
  border-bottom: 1px solid lightgray;
}

.navItem a::after,
.dropdownItem a::after {
  content: attr(data-indicator);
  margin-left: 5px;
}