.chairCard {
    width: 50%;
}

@media (max-width:576px) {
    /* .PreCardSm {
        padding-left: 50px !important;
        padding-right: 50px !important;
    } */

}

.spinner {
    display: block;
    margin: 0 auto;
  }