.orders_main {
    min-height: 300vh;
    /* height: auto; */
    margin-bottom: 20px;
}

.ordersCont {
    margin: 0 auto;
}

.ordersimg-cont {
    /* height: 20vh; */
    width: 800px;
}

.ordersimg-cont image {
    height: 100%;
    width: 100%;
}

.ordersLogo {
    line-height: 1;
}

.ordersLogo .fw-large {
    font-weight: 800;
    margin-top: 100px !important;

}

.fw-large2 {
    font-weight: 800 !important;
    font-size: 70px !important;
    line-height: 1 !important;

}

.orders_main .bottomForm {

    /* position: absolute; */
    top: 70%;
    /* left: 10%; */
    width: 100%;

}

.frmW {
    width: 100%;
    position: relative;

}

.getQformBottom {
    position: absolute;
    margin: 0 auto;
    bottom: -45%;
    width: 70%;
    height: 253px;
    background-color:#2E3192;
    left: 15%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.bottomImgOfForm{
    position: absolute;
    bottom: -47%;
    left:25%;
    width: 60vw;
}

