.Qt_cont {
    width: 90%;
    margin: 0 auto;
}

.form_title {
    font-size: 3rem;
    font-weight: 800;
}

.GQformprodpage {
    width: 100%;
}

.round_prod {
    margin: 80px 0 0 0;
}

.form_submit:hover {
    background: transparent !important;
    border: 2px solid #fff;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .round_prod {
        margin: 0 0 0 0;
    }
    .form_title {
        font-size: 2rem;
    }

    
    
}


.Qt_cont {
    width: 90%;
    margin: 0 auto;
}
.form_title {
    font-size: 3rem;
    font-weight: 800;
}
.GQformprodpage {
    width: 100%;
}
.round_prod {
    margin: 80px 0 0 0;
}
.form_submit:hover {
    background: transparent !important;
    border: 2px solid #fff;
    color: #fff;
}

/* New styles for desktop layout */
/* @media only screen and (min-width: 992px) {
    .top_products {
        display: flex;
        flex-wrap: wrap;
    }
    .top_products > div {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .remaining_products {
        margin-top: 2rem;
    }
    .remaining_products > div {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
} */

@media only screen and (max-width: 991px) {
    .round_prod {
        margin: 0 0 0 0;
    }
    .form_title {
        font-size: 2rem;
    }
}


.top-pics-card {
    position: relative;
    overflow: hidden;
  }
  
  .img-text {
    margin-top: 10px;
    text-align: center;
  }
  
  .get-quote-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .top-pics-card:hover .get-quote-btn {
    transform: translateY(0);
  }