:root {
  --primary-color: #262262;
  --secondary-color: #FFE000;

  --header-primary-clr: #CC0008;
  --header-secondary-clr: #262262;
  --header-font-size: 35px;
}
.fw-large{
  font-size: 70px;
}
.darkBlue{
  color: #262262;

}
.bg-darkBlue{
  background-color: #262262;

}
.bg-litepurple{
  background-color: #26226240;
}

.bg-litepurple2{
  background-color: #E5E4EC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 16px;
}
.medium{
  font-size: 12px;
}
.small{
  font-size: 10px;
}
.common_section {
  margin: 100px 0;
}
 .carousel-item img {
  border-radius: 0;
}

.section_header {
  /* margin-top: 80px; */
  margin: 80px 0 35px 0;
  width: 100%;
  text-align: center;
}

.section_header h2 {
  font-size: 40px;
  color: var(--header-secondary-clr);
  padding: 0 0 55px 0;
  text-transform: capitalize;

}

.main_container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.section_header h2 span {
  font-weight: 700;
  color: var(--header-primary-clr);
}

.section_header p {
  padding: 0px 267px;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
}


.section_header h3 {
  color: var(--header-secondary-clr);
  font-size: 36px;
}

.section_header h2 span {
  color: var(--header-primary-clr);
}

.view_all_sec {
  text-align: end;
  margin: 10px 0;
  text-transform: uppercase;
}
  .diamondDropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .nav-link:hover + .diamondDropdown {
    display: block;
  }

@media (max-width:922px) {
  .subCptRes p{
      font-size: 10px !important;

  }
}

@media (max-width:600px) {
  .TCTxt{
      margin: 0;
      padding: 10px;
      font-size: small;
      text-align: justify !important;
  }
  
}


/* RESPONSIVE */
@media only screen and (min-width: 1502) {}
@media only screen and (min-width: 1367px) and (max-width: 1501px) {} 
@media only screen and (min-width: 1201px) and (max-width: 1366px) {}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}
@media only screen and (min-width: 992px) and (max-width: 1024px) {}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .TopPick-Card{
    margin-bottom: 40px !important;
  }
  .section_header {
    margin: 40px 0 35px 0;
  }
}

/* Mobile: */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .common_section {
    margin: 40px 0 0;
}
  .TopPick-Card{
    margin-bottom: 40px !important;
  }
  .section_header p { 
    font-size: 16px; 
  }
  .section_header {
    margin: 40px 0 35px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .common_section {
    margin: 40px 0 0;
}
  .featuresFour{
    /* margin: auto 40px; */
  }
  .TopPick-Card{
    margin-bottom: 80px !important;
  }
  .section_header p { 
    font-size: 16px; 
}
.section_header {
  /* margin-top: 80px; */
  margin: 45px 0 35px 0;
}

}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .common_section {
    margin: 40px 0 0;
}
.manufacturer_common_section{
  margin: 10px 0;
}
  .featuresFour{
    /* margin: auto 40px; */
  }
  .TopPick-Card{
    margin-bottom: 80px !important;
  }
  .section_header p { 
    font-size: 16px; 
}
.section_header h3 { 
  font-size: 30px;
}
.section_header h2 {
  padding: 0 0 12px 0;
  font-size: 36px;
}
.section_header {
  /* margin-top: 80px; */
  margin: 20px 0 35px 0;
}
.Specific-product{ 
  margin: 80px 0 35px 0;
}
}
@media only screen and (max-width: 360px) {
  .common_section {
    margin: 40px 0 0;
}
.manufacturer_common_section{
  margin: 10px 0;
}
  .featuresFour{
    /* margin: auto 40px; */
  }
  .TopPick-Card{
    margin-bottom: 80px !important;
  }
  .section_header p { 
    font-size: 16px; 
}
.section_header h3 { 
  font-size: 30px;
}
.section_header h2 { 
  font-size: 36px;
}
.section_header {
  /* margin-top: 80px; */
  margin: 20px 0 35px 0;
}
.Specific-product{ 
  margin: 80px 0 35px 0;
}


}