/* @import '~@fortawesome/fontawesome-free/css/all.css'; */
:root {
  --primary-color: #262262;
  --secondary-color: #FFE000;

  --header-primary-clr: #CC0008;
  --header-secondary-clr: #262262;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
p, h1, h2, h3,h4,h5,h6{
  padding: 0;
  margin: 0;
} 
a {
  color: inherit;
  text-decoration: none;
  color: #000;
}
a:hover{
  text-decoration: none;
  color: #000;
}
p{
  font-size: 16px;
}
.common_section{
  margin: 50px 0;
}
img{
  border-radius: 10px;
}

.carousel-item img{
  border-radius: 0;
}

/* section haeding part start */
.section_header{
  margin-top: 40px;
  max-width: 60%;
  width: 100%;
}
.section_header h2{
  font-size: 40px;
  font-weight: 700;
  color: var(--header-secondary-clr);
  padding: 0 0 15px 0;
  text-transform: capitalize;
}

.section_header h3{
  color: var(--header-secondary-clr);
  font-size: 36px;
}

.section_header p{
  font-size: 13px;
}

.section_header h2 span{
  color: var(--header-primary-clr);
}
/* section haeding part end */

/* Products start  */
.products_col{
  margin-top: 25px;
}
/* products ends  */