.preCont {
    height: max-content;
    width: 100%;
    /* margin: 10px; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid lightgray;
   box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.20);
}

.preCont .PreFoot {
    padding: 0 13px 13px 13px;
}

.preCont:hover {
    box-shadow: rgba(0, 0, 0, 0.20) 4.95px 5.95px 2.6px;
    transition: all .5s;
}

.one-line-ellipsis {
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    width: 14ch;
}

.one-line-ellipsis1 {
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    width: 100%;
}

.pre img {
    width: 100%;
    height: 100%;
}

.small {
    font-size: .7rem;
}

.PreFoot .left {
    font-size: medium;
}

.PreFoot svg, .PreFoot i{
    cursor: pointer;
}
.medium {
    font-size: 1rem;
}

.card-header img{
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid lightgray;
}

@media (max-width:576px) {
    .preCont {
        font-size: x-small;
        margin: 0;
        padding: 0;
    }
    .DESCresp {
        text-align: left !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /* .PreFoot .left {
        font-size: small !important;
    }
    .priceResp {
        font-size: x-small !important;
    } */
}

.invisible-component {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }