.committee-box {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.committee-header {
    background-color: #f8f8f8;
    padding: 10px;
}

.committee-entry {
  font-size: 1rem;
  margin: 0.5rem 0;
}
