.orders_main {
    /* height: 30vh !important; */
    margin-bottom: 15%;
}

.ordersCont {
    margin: 0 auto;
}

.ordersimg-cont {
    width: 800px;
}

.ordersimg-cont image {
    height: 100%;
    width: 100%;
}

.ordersLogo {
    line-height: 1;
    margin-top: 150px;
    margin-left: 0px;
}

.ordersLogo .fw-large {
    font-weight: 800;
}

.getbottomform {
    width: 500px;
}

.fw-large2 {
    font-weight: 800 !important;
    font-size: 70px !important;
    line-height: 1 !important;
}

.orders_main .bottomForm {
    top: 70%;
    width: 100%;
}

.frmW {
    width: 100%;
    position: relative;
    top: -19%;
}

.getQformBottom {
    position: absolute;
    margin: 0 auto;
    bottom: -36%;
    /* width: 70%; */
    height: 253px;
    background-color: #2E3192;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottomImgOfForm {
    position: absolute;
    bottom: -38%;
    left: 25%;
    width: 49vw;
}

.bulkForm input,
.input-group-text,
.text-area {
    background-color: transparent;
    border: 1px solid lightgray;
    /* color: white; */
}

@media (max-width:1089px) {
    /* .orders_main {
        max-height: 273vh;
    } */
    .GQRespTxt {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media (max-width:767px) {
    .colResText {
        flex: 0 0 auto;
        width: 100%;
    }
    .ordrmainMargin{
        margin-top: 0 !important;
    }
}

@media (max-width:993px) {
    .GQFormRes {
        width: 100%;
    }
    .getQformBottom {
        display: none;
    }
    .bottomImgOfForm {
        bottom: -45%;
        width: 80vw;
        left: 0 !important;
        right: 0 !important;
        margin: 0;
        padding: 0;
        align-self: center;
    }
}

@media (max-width:768px) {
    .bottomImgOfForm {
        display: none !important;
    }
}