.formBody {
    background-color: #F3F3F3;
    height: fit-content;
    width: 80vw;
}

@media (max-width:1086px) {

    .RegformCont input,
    .RegformCont label {
        font-size: x-small !important;
    }

    .RegformCont .registrationBtnResp button {
        font-size: small;
    }

    .RegformCont {
        padding: 10px !important;
    }
}