
.HC2{
    position: absolute;
    top: 35%;
}
.HC1{
    position: relative;
}

.HC1::after{

    content: url("/assets/svg/Group 930.svg");
    position: absolute;
    left: 50%;
}

.HC3{
    position: relative;
}

.HC3::after{
    
    content: url("/assets/svg/Group 931.svg");
    position: absolute;
    right: 35%;
    bottom:12%;

}
.Hiringheight{
    height:100vh;
    position:relative !important;
}


