.product-info-tabs li {
    /* margin: 1%; */
}

.product-info-tabs .nav-tabs .nav-item a:active {
    font-weight: 700;
}

.product-info-tabs {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.AccorProductInfo {
    display: none;
}

.product-info-tabs {
    display: block;
}

.prod_desc_sec {
    background-color: #fff;
}

@media (max-width:600px) {
    .product-info-tabs {
        display: none;
    }
    .AccorProductInfo {
        display: block;
    }
}