.GQform {
    margin: auto;
    width: 70%;
    background-color: #2E3192;
}

.GQformprodpage {
    width: 100% !important;
}

.modal-content-mypopup {
    background-color: #2e3192 !important;
}

.GQform .input-group-text {
    background-color: #686AB0 !important;
}

.GQform input,
.input-group-text,
.text-area {
    /* background-color: #4D50A2; */
    border: 1px solid lightgray;
    color: #000;
}

.GQform .text-area {
    height: auto !important;
}

.GQform input::placeholder,
.input-group-text::placeholder,
.text-area::placeholder {
    color: #3e3838;
}

.GQform button {
    margin: 0 auto;
}

.m-auto {
    align-self: center;
}

.sbmtButton {
    position: absolute;
    z-index: 99;
    top: 95%;
    left: 14%;
    background-color: white;
    color: #2E3192;
    font-weight: bold;
    padding: 8px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

@media (max-width:600px) {
    .GQFormRes {
        padding: 25px 20px !important;
        margin: 0 !important;
        width: 100%;
    }
    .GQFormRes input,
    .GQFormRes textarea {
        font-size: x-small;
    }
    .GQFormRes .reqCaptRes {
        font-size: xx-small;
    }
    .GQFormSubmitRes button {
        padding: 5px 10px !important;
        font-size: small;
    }
    .sbmtButton {
        position: absolute;
        top: 87%;
        left: 41%;
    }
    .getbottomform {
        padding-bottom: 50px !important;
    }
}